/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding-top: 60px; /* Para evitar que el contenido quede oculto detrás del header */
}

/* Header */
header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    text-align: center;
    font-size: 24px;
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #0056b3;
}

/* Main Section */
main {
    padding: 20px;
    margin-top: 80px; /* Para dejar espacio debajo del header */
}

/* Sección de Misión, Visión, Valores y Propósito */
#mision-vision-valores {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#mision-vision-valores h2 {
    text-align: center;
    font-size: 28px;
    color: #007bff;
    margin-bottom: 20px;
}

#mision-vision-valores p, 
#mision-vision-valores ul {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
}

#mision-vision-valores ul {
    list-style-type: square;
    margin-left: 20px;
}

#mision-vision-valores ul li {
    font-size: 16px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 30px;
}

footer p {
    font-size: 14px;
}

/* Estilos adicionales */
h2, h3 {
    font-size: 1.8em;
    color: #333;
    font-weight: bold;
}
