/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo y fuente base */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo de encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Estilo de navegación */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: inline-block; /* Asegura que los enlaces se comporten correctamente */
}

nav ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* Estilo del contenido principal */
main {
    padding: 20px;
}

/* Estilo de la sección de bienvenida */
#bienvenida {
    text-align: center;
    margin-bottom: 40px;
}

/* Estilo de la sección de misión y visión */
#mision-vision, #valores {
    margin-bottom: 40px;
}

/* Estilo de la sección de valores */
#valores ul {
    list-style-type: none;
    padding-left: 0;
}

#valores li {
    margin: 10px 0;
}
